<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">
  <display-name>smis</display-name>

  <!-- 读取spring配置文件 -->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
      classpath:spring/spring-mybatis.xml
    </param-value>
  </context-param>
  <!-- 错误跳转页面 -->
  <error-page>
    <!-- 路径不正确 -->
    <error-code>404</error-code>
    <location>/WEB-INF/404.html</location>
  </error-page>
  <error-page>
    <!-- 没有访问权限，访问被禁止 -->
    <error-code>403</error-code>
    <location>/WEB-INF/403.html</location>
  </error-page>
  <error-page>
    <!-- 内部错误 -->
    <error-code>500</error-code>
    <location>/WEB-INF/500.html</location>
  </error-page>
</web-app>