<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>测试mybatis</title>
</head>
<body>
<script type="text/javascript">
    function test() {
        var datas;
        $.ajax({
            url: "${base.contextPath}/test/query",
            type:'POST',
            dataType: "json",
            data:(function(){
                return JSON.stringify({"ids":"123"});
            })(),
            async:false,
            traditional: true,//这里设置为true
            contentType: "application/json",  //设置传参的格式
            success: function (data) {
                datas =data;
            }
        });
        return datas;
    }
    test();
</script>
</body>
</html>