<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hgxp.core.hr.mapper.GxpHrOrgUnitMapper">

    <resultMap id="BaseResultMap" type="hgxp.core.hr.dto.GxpHrOrgUnit" >
        <id column="unit_id" property="unitId"/>
        <result column="unit_code" property="unitCode"/>
        <result column="parent_id" property="parentId"/>
        <result column="parent_name" property="parentName"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <result column="manager_position" property="managerPosition"/>
        <result column="position_name" property="positionName"/>
        <result column="company_id" property="companyId"/>
        <result column="company_name" property="companyName"/>
        <result column="enabled_flag" property="enabledFlag"/>
        <result column="unit_category" property="unitCategory"/>
        <result column="unit_type" property="unitType"/>
        <result column="ORG_ID" property="orgId"/>
        <result column="ORGANIZATION_ID" property="organizationId"/>
        <result column="ORGANIZATION_CODE" property="organizationCode"/>
        <result column="ORGANIZATION_NAME" property="organizationName"/>
    </resultMap>

    <!--屏蔽规则管理页面编辑库存组织LOV的SQLID,此LOV不被屏蔽-->
    <select id="queryMdmLovForDataMask" resultMap="BaseResultMap" parameterType="hgxp.core.hr.dto.GxpHrOrgUnit">
        SELECT org_id, organization_id, organization_code, organization_name
        from cux_mdm_organization_v cmov
        <where>
            <if test="orgId!=null">
                and org_id = #{orgId}
            </if>
            <if test="companyId!=null">
                and company_id = #{companyId}
            </if>
            <if test="organizationCode!=null">
                and organization_code like concat('%',concat(#{organizationCode},'%'))
            </if>
            <if test="organizationName!=null">
                and organization_name like concat('%',concat(#{organizationName},'%'))
            </if>
        </where>
        order by organization_code asc
    </select>

    <select id="queryMdmLov" resultMap="BaseResultMap" parameterType="hgxp.core.hr.dto.GxpHrOrgUnit">
        SELECT cmov.org_id, cmov.organization_id, cmov.organization_code, cmov.organization_name
        <!--modified by xiaotong.wu@hand-china.com 2017/11/23
              将cux_mdm_organization_v视图与hr_org_unit_b表进行内连接查询，用来做数据屏蔽-->
--         FROM (SELECT hou.unit_id           AS organization_id,
--         hou.unit_code         AS organization_code,
--         hou.name              AS organization_name,
--         hou.parent_id         AS org_id,
--         phou.unit_code        AS org_code,
--         phou.name             AS org_name,
--         fcb.company_id        AS company_id,
--         fcb.company_full_name AS companyname,
--         hou.description       AS remark
--         FROM hr_org_unit_b hou
--         LEFT JOIN hr_org_unit_b phou
--         ON hou.parent_id = phou.unit_id
--         LEFT JOIN fnd_company_b fcb
--         ON phou.company_id = fcb.company_id
--         WHERE hou.unit_type = 'ORGANIZATION') cmov
        from cux_mdm_organization_v cmov
        INNER JOIN hr_org_unit_b houb
        ON cmov.organization_id = houb.unit_id
        --LEFT JOIN fnd_company_b fcb on (cmov.company_id = fcb.company_id)
        <where>
            (EXISTS (SELECT null FROM fnd_company_b t WHERE t.company_id = cmov.company_id) OR
            cmov.company_id IS NULL)
            <!--modified end-->
            <if test="orgId!=null">
                and cmov.org_id = #{orgId}
            </if>
            <if test="companyId!=null">
                and cmov.company_id = #{companyId}
            </if>
            <if test="organizationCode!=null">
                and cmov.organization_code like concat('%',concat(#{organizationCode},'%'))
            </if>
            <if test="organizationName!=null">
                and cmov.organization_name like concat('%',concat(#{organizationName},'%'))
            </if>
        </where>
        order by cmov.organization_code asc
    </select>

    <select id="queryMdmLovView" resultMap="BaseResultMap" parameterType="hgxp.core.hr.dto.GxpHrOrgUnit">
        select ORG_ID ,
        ORGANIZATION_ID ,
        ORGANIZATION_CODE,
        ORGANIZATION_NAME
        from cux_mdm_organization_v cmov
        <where>
            <if test="orgId!=null">
                and org_id = #{orgId}
            </if>
            <if test="organizationCode!=null">
                and organization_code like concat('%',concat(#{organizationCode},'%'))
            </if>
            <if test="organizationName!=null">
                and organization_name like concat('%',concat(#{organizationName},'%'))
            </if>
        </where>
    </select>

    <select id="queryOriginizationId" resultType="java.lang.Long" parameterType="hgxp.core.hr.dto.GxpHrOrgUnit">
        SELECT ORGANIZATION_ID
        FROM cux_mdm_organization_v
        <where>
            <if test="orgId!=null">
                AND org_id = #{orgId}
            </if>
        </where>

    </select>

    <select id="selectEnableEmployee" resultType="java.lang.String" parameterType="java.lang.String">
        SELECT he.email  --员工邮箱
        FROM hr_employee_assign a,
        (SELECT p.POSITION_ID,
        pt. NAME POSITION_NAME,
        u.UNIT_ID,
        ut.NAME unit_name
        FROM hr_org_position_b p
        LEFT OUTER JOIN hr_org_position_tl pt
        ON (p.POSITION_ID = pt.POSITION_ID AND pt.LANG ='zh_CN'),
        hr_org_unit_b u
        LEFT OUTER JOIN hr_org_unit_tl ut
        ON (u.UNIT_ID = ut.UNIT_ID AND ut.LANG ='zh_CN')
        WHERE p.UNIT_ID = u.UNIT_ID) pu,HR_EMPLOYEE he
        WHERE a.POSITION_ID = pu.position_id
        AND a.employee_id=he.employee_id
        AND he.status='NORMAL'   --员工状态为正式
        AND (pu.position_name like '%审核员%' or pu.position_name like '%录入员%')
        AND a.enabled_flag ='Y'   --岗位是启用状态
        AND he.email is not null   --email不为空
        <if test="enterpriseName!=null">
            AND pu.UNIT_NAME=#{enterpriseName}
        </if>
        group by he.email
    </select>

    <select id="selectEnaEmployee" resultType="com.hand.hap.hr.dto.Employee">
        SELECT he.email,pu.unit_name unitName,he.EMPLOYEE_CODE employeeCode  --员工邮箱
        FROM hr_employee_assign a,
        (SELECT p.POSITION_ID,
        pt. NAME POSITION_NAME,
        u.UNIT_ID,
        ut.NAME unit_name
        FROM hr_org_position_b p
        LEFT OUTER JOIN hr_org_position_tl pt
        ON (p.POSITION_ID = pt.POSITION_ID AND pt.LANG ='zh_CN'),
        hr_org_unit_b u
        LEFT OUTER JOIN hr_org_unit_tl ut
        ON (u.UNIT_ID = ut.UNIT_ID AND ut.LANG ='zh_CN')
        WHERE p.UNIT_ID = u.UNIT_ID) pu,HR_EMPLOYEE he
        WHERE a.POSITION_ID = pu.position_id
        AND a.employee_id=he.employee_id
        AND he.status='NORMAL'   --员工状态为正式
        AND (pu.position_name like '%审核员%' or pu.position_name like '%录入员%')
        AND a.enabled_flag ='Y'   --岗位是启用状态
        AND he.email is not null   --email不为空
        GROUP BY pu.unit_name ,he.email,he.employee_code
    </select>

    <select id="selectOuterCusEmail" resultType="java.lang.String" parameterType="java.lang.String">
        select emails
        from CUX_MDM_CUSTOMER_SITE_ALL CMCSA,CUX_MDM_CUSTOMER CMS
        WHERE (EMAILS IS NOT NULL OR EMAILS &lt;&gt; '')
              AND CMCSA.CUSTOMER_ID = CMS.CUSTOMER_ID
              AND CUSTOMER_NAME = #{customerName}
    </select>
</mapper>